body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.logo {
  /* width: 70%;
   margin: 0 auto;*/
   margin-bottom: 30px;
   margin-top: 30px;
 }

 .payment1 {
 box-shadow: 0 2px 2px rgba(10,16,20,.24), 0 0 2px rgba(10,16,20,.12);
   box-sizing: border-box;
   transition: all .3s ease-in;
   padding: 20px;
   }

 .btn-paynow {
   border-radius: 0px;
   border-color: #e41f37;
   padding: 10px 30px;
 }

 .btn-paynow:hover {
   color: #fff;
   background-color: #e41f37;
   border-color: #e41f37;
 }

 .table-bordered>tbody>tr>td{
   border:none;
 }

 .table>tbody>tr>td{
 border-top:none !important;
 }

 .paynow-page {
   background-color: #fafafa !important;
 }
